/* ------------------------------------------------------------------------------------------  */
/* ---------------------------------------------------INDEX.PHP ------------------------------*/

.container{
    width: 1200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    
}
h1{
    text-align: center;
}
.container_search_class{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.container_search_class > div {
    margin: 5px;
    text-align: left;
}
.petit_bouton {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container_friendslisting{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
.container_friendsdetails {
    border: 1px solid #e9ebee;
    width: 32%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.container_friendspicture{
    width: 30%;
}
.friendspicture{
    width: 80%;
    margin: 5px;
}
.container_friendsinfo{
    width: 70%;
    margin-top: 5%;
}
.friendsinfo{
	color: #f6f9ff;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}




