.container_details, .container_relation, .container_MusicHobby{
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #e9ebee;
    border-radius: 5px; 
    display: flex;
    flex-flow: row wrap; 
}
.container_enTete{
    width: 100%;
    background-color: #e9ebee;
}
.enTete{
    color: rgb(22, 145, 190);
    text-align: center;
    text-transform: uppercase;
}
.container_picture{
    width: 30%;
    margin: 5px auto;
}
.picture{
    width: 80%;
    margin: 5px auto;
    display: block;
}
.container_info{
    width: 70%;
    margin: 5px auto;
}
.info{
	color: white;
    font-size: 32px;
    line-height: 20px;
}
/* MUSIQUE ET HOBBIES */
.container_music{
    width: 50%;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.container_music h2, .container_hobbies h2{
text-align: left;
}
.container_hobbies{
    width: 50%;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
/* LISTE DE CONTACT */
.container_friends{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
.container_friend_details{
    border: 1px solid #e9ebee;
    width: 30%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.container_friend_picture{
    width: 30%;
    margin: 5px;
}
.friend_picture{
    width: 100%;
    margin: auto;
    display: block;
}
.container_friend_info{
    width: 70%;
    margin-top: 5%;
    margin-left: 15px;
}
.friend_info{
    color: #365899;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
